<nav>
    <div class="site-title">
        <a href="/"><h1>Yo's Reviews</h1></a>
        <p>A Youssef C site</p>
    </div>
    <ul>
        <li><a href="/">Reviews</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Write a new review</a></li>
    </ul>
</nav>